

@import url(fonts/PassionOne-Bold.ttf);
@font-face {
    font-family: 'Passion';
    src: url(fonts/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;      
}
header{
    background-color: black;
    text-align: center;
    color: white;
}
header h1{
    padding-top: 50px;
    font-family: 'Passion';
    font-size: 10vw;
    font-variant: small-caps;
   

}
header p{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding-bottom: 50px;
}
main p{
    
    padding-bottom: 2em;
    
}
section{
    padding-left: 30px;
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
section > pre{
    font-family: 'Sriracha';
    white-space: pre-line;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0.3em;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.2em;
    color: white;
    background-color: black;
    text-align: center;
}
.imagem{
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}
#img01{
    background-image: url(imagens/background001.jpg);
    position: right center;
    
}
.imagem > pre {
    background-color: #00100050;
    box-shadow: inset 6px 6px 13px 0px #001000;
    color: white;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.192);
}
#img02{
    background-image: url(imagens/background002.jpg);
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

